 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<div class="wrapper">
  <h1>Welcome <%= @user.username%>!</h1>

    <% if @user.accounts.empty? %>
      <h3> You do not have any accounts</h3>
      <%= link_to 'New Account', new_account_path, class: 'button' %><br><br>
      <%else%>
      <%= link_to "View your accounts", accounts_path, class: 'button'%>
      <% end %><br><br>
     <%= image_tag "expenses_calculator.jpeg", :height => '500px'%>
</div>