 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<h1>Welcome <%= @user.username%>!</h1>

    <% if @user.accounts.empty? %>
      <h3> You do not have any accounts</h3>
    <%else%>
    <ul>
        <% @user.accounts.each do |account| %>
        <li><%= link_to account.name, user_account_path(account.user, account)%></li>
        <%end%>
    </ul>
    <% end %>

<%= link_to 'New Account', new_user_account_path(@user) %><br><br>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Signout'>
<% end %>