
<h1>All Expenses</h1>

<%= form_tag(categories_path, method: 'get') do %>
    <%= label_tag(:q, "Filter By Category:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Filter") %>
<%end%>

<% if params[:q] && @categories != nil %>

    <h1><%= @categories.name %></h1>

    <ul>
        <% @categories.expenses.each do |exp| %>
         <%if exp.user_id == @current_user.id %>
        <li><%= link_to  number_to_currency(exp.amount), account_expense_path(exp.account_id, exp) %></li>
         <%end%>
        <%end%>     
    <ul>

    <%elsif params[:q] != nil && @categories != params[:q] %>
        <p> Category does not exist</p>

    <%else%>
    <ul> 
            <% @expenses.each do |exp|%>
                <li> <%= link_to  number_to_currency(exp.amount), account_expense_path(exp.account_id, exp)%></li>
            <%end%>
    </ul>

<%end%>


