
<h1>Create Expenses For <%= @expense.account.name %></h1>

<%= form_for [@account, @expense] do |f| %>
    <%= f.label :amount %>
    <%= f.number_field :amount, value: number_to_currency(f.object.amount.to_f, delimiter: '', unit: ''), step: :any %>
    <br><br>
     <%= f.label 'Transction date' %>
    <%= f.date_field :date %>
    <br><br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br><br>

    <p>Choose a category: </p>
    <%= f.collection_check_boxes :category_name, Category.all, :id, :name %><br><br>
    <p>Create New Category</p>
    <%= f.text_field :category_name %> <br><br>

    <%= f.submit 'Create Expense' %>
<% end %>
