 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h1>Your Expense details</h1>
  <ul>
    <li><strong>Account name: </strong><%= @expense.account.name %></li>
    <li><strong> Expense Amount: </strong><%= @expense.amount %></li>
    <li><strong> Transction Date: </strong> <%= @expense.date.strftime("%d %b %Y %l:%M %p") %>
    <li><strong> Category: </strong><%= @expense.category.name %></li>
    <li><strong> Description: </strong> <%= @expense.description %></li>
    </ul>

<%= link_to 'Edit Expense', edit_account_expense_path(@account, @expense)%><br>
<%= link_to 'Delete', @expense, method: :delete, data: { confirm: 'Are you Sure?' } %>