<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
<% end %>

<h1><%= @account.name %></h1>
<h3> amount: <%= @account.amount %></h3>
<%= link_to 'Edit', edit_account_path(@account)%>/
<%= link_to 'Delete', @account, method: :delete, data: { confirm: 'Are you Sure? all the associated expenses will be deleted too.' } %>

<h4> <%= link_to 'Your Expenses', account_expenses_path(@account)%>/<%= link_to 'Create Expense', new_account_expense_path(@account) %> </h4>

    <table id="account-summary" class="center">
    <thead>
      <tr>
        <th colspan="2">Account Summary</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td width="60%">Money Left</td>
          <td width="40%"><%= number_to_currency(@account.money_left) %></td>
        </tr>

        <tr>
          <td width="60%">Minimum Expense</td>
          <td width="40%"><%= number_to_currency(@account.min_expense) %></td>
        </tr>
        <tr>
          <td width="60%">Maximum Expense</td>
          <td width="40%"><%= number_to_currency(@account.max_expense) %></td>
        </tr>
        <tr>
          <td width="60%">Average Expense</td>
          <td width="40%"><%= number_to_currency(@account.avg_expense) %></td>
        </tr>
    </tbody>
  </table>


