<h1><%= @account.name %></h1>
<h3> amount: <%= @account.amount %></h3>
<%= link_to 'Edit Account', edit_account_path(@account)%>
<h4> Your Expenses</h4>
    <% if @account.expenses.any? %>
        <ul>
        <% @account.expenses.each do |exp| %>
        <li>$<%= link_to exp.amount, account_expense_path(@account,exp)%></li>
        <% end %>
        </ul>
    <% else %>
        <p>You do not have any expenses</p>
    <%end%>

<%= link_to 'Create Expense', new_account_expense_path(@account) %>
